# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
# Test build of release artifacts (PyPI package) and publish them on pushed git
# tags.
#
name: Release

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
  push:
    paths-ignore:
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags:
      - "**"
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: install build requirements
        run: |
          pip install --upgrade pip
          pip install build
          pip list

      - name: build release
        run: |
          python -m build --sdist --wheel .
          ls -l dist

      - name: upload dists
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.repository.name }}-dist
          path: dist/
  
  pypi-publish:
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/')
    environment:
      name: release
    needs:
      - build-release
    permissions:
      id-token: write

    steps:
      - name: Get release artifacts
        uses: actions/download-artifact@v7
        with:
          name: ${{ github.repository.name }}-dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
